<h1>Register</h1>
<form target="_self" method="post" action="./register">
    <p>
        <span>Login</span>
        <input type="text" name="login" />
    </p>
    <p>
        <span>Password</span>
        <input type="text" name="password" />
    </p>
    <p>
        <input type="submit" />
    </p>
</form>